<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Health care</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/appointment.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nav.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

   </head>
<body style="font-size: larger;">


    <header class="header" >

        <!-- <a href="#" class="logo" > <i class="fas fa-heartbeat" style='color:red;' ></i> healthcare. </a> -->
      
        <nav class="navbar">
            <a href="{{url_for('middle_ware')}}" style="font-size: larger;color: blue;">Back</a>
        </nav>
      
        <div id="menu-btn" class="fas fa-bars"></div>
      
      </header>

  <div class="wrapper" style="margin-top: 80px;margin-bottom: 70px;">
    <h2>Book Your Appointment</h2>
    <div style="color: blue;">{{msg}}</div>
    <center>
    <form action="" method="post">
      <div class="fields-grid">
        <div class="styled-input">
          <div class="styled-input">
            <div class="styled-input">

             

            

            {% for row in at %}
            <div class="appointment-form-field">
    <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Name : </label><br>
                <input type="text"  name="name"  required="" value="{{row.name}}"  placeholder="Enter date" style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;color: black;font-weight: 500;" readonly>
                  
              </div>
            </div><br>
            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Date : </label><br>

              <input type="text"  name="date" required="" value="{{row.date}}"  style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;color: black;font-weight: 500;" readonly>
                
            </div>
          </div><br>

          <div class="styled-input">

            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Shift Time : </label><br>

              <input type="text" name="shift" required="" value="{{row.shift}}"  style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;color: black;font-weight: 500;" readonly>
                
            </div>
          </div><br>

          <div class="styled-input">

            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">In Time : </label><br>

              <input type="text" name="intime" required="" value="{{row.intime}}"  style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;color: black;font-weight: 500;" readonly>
                
            </div>
          </div><br>

          <div class="styled-input">

            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Late Time : </label><br>

              <input type="text" name="late" required="" value="{{row.late}}"  style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;color: black;font-weight: 500;" readonly>
                
            </div>
          </div><br>
            {% endfor %}
          <div class="appointment-form-field">
            <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Out Time : </label><br>

            <input type="text"  name="outtime"  id="currentTime" required="" placeholder="Enter Out Time" style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;" readonly>
              
          
          </div><br>

          <script>
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
              document.getElementById("currentTime").value = time;
            </script>

          

          <div class="styled-input">

            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Early Leaving : </label><br>

              <input type="text"  name="earlyleaving" required="" placeholder="Early Leaving" style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;">
                
          </div><br>  

          <div class="styled-input">

            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Overtime : </label><br>

              <input type="text"  name="overtime" required="" placeholder="Overtime" style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;">
                
          </div><br>  
          
        <div class="styled-input">

            <div class="appointment-form-field">
                <label for="Name" style="font-size:large;float: left;margin-left: 35px;">Total Work Hour : </label><br>

              <input type="text"  name="totaltime" required="" placeholder="Total Work Hour" style="width: 80%;height:40px;border: 2px solid blue;border-radius: 10px;font-size: large;">
                
          </div><br>  

          

          
      
    
      <div class="appointment-btn text-lg-right">
        <button type="submit" style="background-color: blue;color: white;" class="btn btn-style btn-primary mt-4">Book Appointment</button>
      </div>
    </form>
  </center>
  </div>

<script src="{{url_for('static',filename='js/nav.js')}}"></script>

<script>
  $(document).ready(function(){
   // File type validation
      $("#fileInput").change(function(){
          var fileLength = this.files.length;
          var match= ["image/jpeg","image/png","image/jpg","image/gif"];
          var i;
          for(i = 0; i < fileLength; i++){
              var file = this.files[i];
              var imagefile = file.type;
              if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                  alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                  $("#fileInput").val('');
                  return false;
              }
          }
      });
  });
  </script>

</body>
</html>