<section class="w3l-medpill-footer ">
    <footer class="footer-28">
      <div class="footer-bg-layer">
        <div class="container py-lg-3">
          <div class="row footer-top-28">
            <div class="col-lg-4 col-md-6 col-sm-7 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Contact information</h6>
              <ul class="address">
                <li>
                  <p> Dlf Cyber City,Patia<br>Bhubaneswar, India</p>
                </li>
                <li class="mt-4">
                  <p><span class="fa fa-phone"></span> <a href="+91 955-640-6021">+91 955-640-6021</a></p>
                </li>
                <li>
                  <p><span class="fa fa-envelope"></span> <a
                      href="divinehealthcare@mail.com">divinehealthcare@mail.com</a></p>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-5 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Company</h6>
              <ul>
                <li><a href="#url">Mission and values</a></li>
                <li><a href="#url">Publications and reports</a></li>
                <li><a href="#url">Ladership and Awards</a></li>
                <li><a href="#url">Diversity is Our Specialty</a></li>
                <li><a href="#url">Policies & Procedures</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Our Services</h6>
              <ul>
                <li><a href="#url">Orthopaedic</a></li>
                <li><a href="#url">Dental Service</a></li>
                <li><a href="#url">Lung Diseases</a></li>
                <li><a href="#url">Heart Attact</a></li>
                <li><a href="#url">Sport Injury</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Hospital hours</h6>
              <ul class="timing mb-lg-4">
                <li><a href="#URL"><span class="fa fa-clock-o"></span>Mon to Fri : <span>08:00 - 20:00</span></a></li>
                <li><a href="#URL"><span class="fa fa-clock-o"></span>Saturday : <span>08:00 - 20:00</span></a></li>
                <li><a href="#URL"><span class="fa fa-clock-o"></span>Sunday : <span>08:00 - 20:00</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      </div>
      </div>
    </footer>